<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.classfile.mapper.ClassfileMapper">

    <resultMap type="Classfile" id="ClassfileResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="fileaddress"    column="fileaddress"    />
        <result property="courseId"    column="course_id"    />
    </resultMap>

    <sql id="selectClassfileVo">
        select id, name, fileaddress, course_id from classfile
    </sql>

    <select id="selectClassfileList" parameterType="Classfile" resultMap="ClassfileResult">
        <include refid="selectClassfileVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="fileaddress != null  and fileaddress != ''"> and fileaddress = #{fileaddress}</if>
            <if test="courseId != null "> and course_id = #{courseId}</if>
        </where>
    </select>

    <select id="selectClassfileById" parameterType="Long" resultMap="ClassfileResult">
        <include refid="selectClassfileVo"/>
        where id = #{id}
    </select>

    <insert id="insertClassfile" parameterType="Classfile" useGeneratedKeys="true" keyProperty="id">
        insert into classfile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="fileaddress != null">fileaddress,</if>
            <if test="courseId != null">course_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="fileaddress != null">#{fileaddress},</if>
            <if test="courseId != null">#{courseId},</if>
        </trim>
    </insert>

    <update id="updateClassfile" parameterType="Classfile">
        update classfile
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="fileaddress != null">fileaddress = #{fileaddress},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteClassfileById" parameterType="Long">
        delete from classfile where id = #{id}
    </delete>

    <delete id="deleteClassfileByIds" parameterType="String">
        delete from classfile where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
