<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.turtle.mapper.TurtleMapper">

    <insert id="insertTurtle">
        insert into turtle( name, uname, school, teacher, userId, ispublic, code, likeNum, looknum,imgPath) values( #{name}, #{uname}, #{school}, #{teacher}, #{userId}, #{isPublic}, #{code}, #{likeNum}, #{lookNum},#{imgPath})
    </insert>
    <update id="updatelookNum">
        update turtle set lookNum = #{lookNum} where id = #{id}
    </update>
    <update id="updatelikeNum">
        update turtle set likeNum = #{likeNum} where id = #{id}
    </update>
    <update id="updatePublic">
        update turtle set isPublic = #{isPublic} where id = #{id}
    </update>
    <select id="selectTurtleList" resultType="com.ruoyi.turtle.domain.Turtle">
        select * from turtle order by createTime desc
    </select>
    <select id="getAllSchool" resultType="com.ruoyi.turtle.domain.School">
        select school as name, count(*) as numberOfWorks from turtle group by school
    </select>
    <select id="getTurtleBySchool" resultType="com.ruoyi.turtle.domain.Turtle">
        select * from turtle where school = #{school} order by createTime desc
    </select>
    <select id="getTeacherBySchool" resultType="java.lang.String">
        select teacher from turtle where school = #{school} group by teacher
    </select>
    <select id="selectMyTurtleList" resultType="com.ruoyi.turtle.domain.Turtle">
        select * from turtle where userId = #{userId} order by createTime desc
    </select>
</mapper>
